<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{ name }} | {{ blog.name }}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
  <meta name="referrer" content="unsafe-url" />
  <meta name="description" content="{{ blog.longdesc }}" />

  <!-- https://developers.facebook.com/docs/reference/opengraph/object-type/website/ -->
  <meta property="fb:app_id" content="123456789101112" />
  <meta property="og:type"   content="website" />
  <meta property="og:url"    content="{{ blog.url }}/" />
  <meta property="og:title"  content="{{ blog.shortdesc }} | {{ blog.name }}" />
  <meta property="og:image"  content="{{ blog.logo }}" />

  <!-- https://dev.twitter.com/cards/types/summary -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ blog.social.twitter }}" />
  <meta name="twitter:title" content="{{ blog.shortdesc }} | {{ blog.name }}" />
  <meta name="twitter:description" content="{{ blog.longdesc }}" />
  <!-- (>= 120x120 px | < 1Mb) -->
  <meta name="twitter:image" content="{{ blog.logo }}" />

  <!-- SEO -->
  <link rel="canonical" href="{{ blog.url }}/" />
  <link rel="publisher" href="{{ blog.social.google }}" />
  <script data-schema="Organization" type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ blog.name }}"
    }
  </script>
  <script data-schema="Blog" type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Blog",
      "name": "{{ blog.name }}",
      "headline": "{{ blog.shortdesc }}",
      "datePublished": "{{ blog.date.published }}",
      "dateModified": "{{ blog.date.modified }}",
      "image": [
        "{{ blog.logo }}"
      ]
    }
  </script>

  <!-- Styles -->
  <style media="screen">
  body {
    background: #fff;
    font: 1em/1.5 "Fira Sans", sans-serif;
  }
  /* Vectorial */
  svg, symbol, image, marker, pattern, foreignObject { overflow: hidden }
  svg {
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
  }
  /* Icons */
  [class^="icon"] {
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    stroke-width:0;
    vertical-align: middle;
    height: 1em;
    width: 1em;
  }
  /* Test de logotype */
  .no-svg svg, .logo--bitmap { display: none; }
  .no-svg .logo--bitmap { display: block; }
  /* https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L131 */
  .a11y-sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .a11y-sr-only.focusable:active,
  .a11y-sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
  </style>
  <link rel="Stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i" />
  <link rel="Stylesheet" type="text/css" href="./styles.css" />
</head>
